[submodule "extern/riscv-formal"]
	path = extern/riscv-formal
	url = https://github.com/SymbioticEDA/riscv-formal.git
[submodule "extern/embench-iot"]
	path = extern/embench-iot
	url = https://github.com/embench/embench-iot.git
[submodule "extern/riscv-opcodes"]
	path = extern/riscv-opcodes
	url = https://github.com/riscv/riscv-opcodes.git
[submodule "extern/riscv-arch-test"]
	path = extern/riscv-arch-test
	url = https://github.com/riscv/riscv-compliance.git
